.editPostLayout {
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  position: relative;
}
.mainEditPost {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  margin-inline: 1rem;
}
.editForm {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block: 2rem;
  margin-inline: 20rem;
  border-radius: 20px 20px 20px 20px;
}
.editForm input,
.editForm textarea {
  background: white;
}
.displayContent {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block: 1rem;
  margin-inline: 10rem;
}
.displayContent > h1 {
  margin: auto;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
  text-underline-offset: 10px;
  font-weight: bold;
}
.displayContent > img {
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(1px 1px 7px white);
  border: 1px solid black;
  aspect-ratio: 16 / 9;
  width: auto;
}
.displayContent > p {
  margin-block: 1rem;
  margin-inline: 2rem;
  line-height: 1.5rem;
}
.btnEdit {
  border-radius: 20px 20px 20px 20px;
  padding-inline: 1.5rem;
  padding-block: 0.25rem;
  background: black;
  color: white;
  margin-block: 2rem;
  filter: drop-shadow(1px 1px 6px white);
}

@media screen and (max-width: 980px) {
  .mainEditPost {
    margin-block: 0.5rem;
    margin-inline: 0.5rem;
  }
  .editForm {
    margin-block: 1rem;
    margin-inline: 7rem;
  }
  .displayContent {
    margin-block: 1rem;
    margin-inline: 3rem;
  }
  .displayContent > p {
    margin-block: 1rem;
    margin-inline: 1rem;
    line-height: 1.5rem;
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .mainEditPost {
    margin-block: 0.25rem;
    margin-inline: 5px;
  }
  .editForm {
    width: 100%;
    margin-block: 1rem;
    margin-inline: 1rem;
  }
  .displayContent {
    margin-block: 1rem;
    margin-inline: 5px;
  }
  .displayContent > p {
    margin-block: 1rem;
    margin-inline: 5px;
    line-height: 1.5rem;
    padding-inline: 2px;
  }
}
