.codeFormMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  margin-block: 1rem;
  padding-inline: 0px;
}
.formGrid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-flow: dense;
  place-content: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 12px 2px black;
}
.gridOne,
.gridTwo {
  margin: auto;
  width: auto;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.75rem;
}
.gridTwo {
  height: 50vh;
  overflow-y: scroll;
}
.gridTwo > table {
  background: rgba(0, 0, 0, 0.2);
}
.gridTwo > table th {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.listFormGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  place-items: center;
  width: 100%;
  position: relative;
}
.listGridOne {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.5rem;
}
.formListGridTwo {
  grid-column: 2 / span 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.5rem;
  padding-inline: 1rem;
}

/*---- FormStyleList-------------------------*/

.mainFormStyle {
  width: 80%;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 20px 20px 20px 20px;
}
.formStyleList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  border-radius: inherit;
  background: rgba(19, 128, 124, 0.7);
}
.formStyleList > h3 {
  text-align: center;
}
.formStyleList > input,
.formStyleList > select {
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: black;
  background: white;
  border-radius: inherit;
  width: 100%;
  padding-inline: 10px;
}
.formStyleList > select {
  width: 50%;
}
.formStyleList > button {
  padding-inline: 3rem;
  padding-block: 1rem;
  background: black;
  color: white;
  box-shadow: 1px 1px 7px 1px black;
  border-radius: inherit;
  margin-block: 3rem;
  margin-inline: auto;
}
.formStyleList > label {
  margin: auto;
  text-align: center;
}
.formStyleList > select {
  margin: auto;
}
.formStyleDisplayMain {
  width: 50%;
  margin-inline: auto;
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
/* ----edit-formInputs display----*/
.formEditStyleList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  border-radius: inherit;
  background: rgba(19, 128, 124, 0.7);
}
.formEditStyleList > button {
  margin-block: 2rem;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 0.25rem;
  background: black;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 2px 12px 2px black;
  color: white;
}
.editStyleLi {
  background: red;
  color: white;
  font-size: 120%;
  border-radius: 50%;
}
/* ----edit-formInputs display----*/

/*---- FormStyleList-------------------------*/
@media screen and (max-width: 980px) {
  .listFormGrid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 1rem;
  }
  .listGridOne {
    grid-column: auto;
  }
  .formListGridTwo {
    grid-column: auto;

    padding-inline: 1rem;
  }
  .formStyleList > input {
    width: 75%;
    padding-inline: 1rem;
  }
  .mainFormStyle {
    width: 80%;
    padding: 1rem;
  }
  .formStyleDisplayMain {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .formGrid {
    grid-template-columns: repeat(1, minmax(275px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
    padding: 0.5rem;
  }
  .formList {
    padding-inline: 0.5rem;
  }
  .mainFormStyle {
    width: 100vw;
    padding: 1rem;
  }
  .formStyleList > input {
    width: 100%;
  }
  .formStyleList > select {
    width: 75%;
  }
  .formStyleDisplayMain {
    width: 100%;
    padding-inline: 20px;
  }
}
