:root {
  --colorWorld: url("/images/colorWorld.png");
  --bg-one: rgb(195, 196, 197);
  --bg-two: hsla(204, 96%, 11%, 0.88);
}
body {
  background: var(--bg-one);
  position: relative;
}
.blogsLink,
.postLink {
  text-decoration: none;
  -moz-text-decoration: none;
  margin-inline: auto;
}
.blogsLink:hover,
.postLink:hover {
  cursor: pointer;
}
.container {
  margin-inline: 1rem;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  background: whitesmoke;
  position: relative;
  gap: 1rem;
}

form.listform {
  background: whitesmoke;
  color: black;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 1px 1px 5px 1px hsla(179, 84%, 78%, 0.4),
    -1px -1px 5px 1px hsla(179, 84%, 58%, 0.6);
}
form.listform div {
  border-radius: inherit;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
li::before {
  font: bold;
  content: "\276F";
  color: red;
  margin-right: 5px;
}

.link,
.hlink {
  font-size: 110%;
}
.fileSummary {
  font-size: 110%;
}
.dataReplyGrow {
  opacity: 1;
  position: absolute;
  inset: 0rem;
  margin-inline: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 5px 1px hsl(179, 84%, 78%),
    -1px -1px 5px 1px hsl(179, 84%, 58%);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin-block: 0.5rem;
  height: 32vh;
  animation: grow 1s ease-in-out;
}
.dataReplyShrink {
  opacity: 0;
  position: absolute;
  inset: 0rem;
  margin-inline: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 5px 1px hsl(179, 84%, 78%),
    -1px -1px 5px 1px hsl(179, 84%, 58%);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin-block: 0.5rem;
  height: 1vh;
  animation: shrink 1s ease-in-out;
}
@keyframes shrink {
  from {
    height: 32vh;
  }
  to {
    height: 0;
  }
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 32vh;
  }
}
blockquote.reply {
  position: relative;
}
blockquote.reply::before {
  display: block;
  content: "";
  position: absolute;
  top: -20%;
  left: -30%;
  width: 10px;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
  background: hsla(36, 89%, 68%, 0.9);
  /* box-shadow: 1px 1px 3px 1px hsl(187, 95%, 50%),
      -1px 11px 3px 1px hsl(187, 95%, 30%); */
}

.conclusion > p::first-letter {
  color: rgba(229, 241, 234, 0.9);
  font-weight: bold;
  margin-right: 0.57rem;
  -webkit-initial-letter: 1.25;
  initial-letter: 1.35;
}
.summary > p::first-letter,
.summary::first-letter,
.section > p::first-letter,
.FileSummary p::first-letter,
p.paraCreator::first-letter {
  color: rgba(28, 11, 1, 0.9);
  font-weight: bold;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-initial-letter: 1.25;
  initial-letter: 1.25;
}
.FileSummary {
  font-size: 150%;
}
.summary,
.section {
  font-size: 110%;
}
.image {
  box-shadow: 1.5px 1.5px 10px 3px grey, -1.5px -1.5px 10px 3px black;
  border-radius: 5px;
  border: 1px solid hsl(39, 90%, 81%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

.imageRnd {
  box-shadow: 1px 1px 7px 1px hsl(184, 86%, 50%),
    -1px -1px 7px 1px hsl(184, 96%, 50%);
  border-radius: 50%;
  border: 1px solid hsl(39, 90%, 81%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
}
.button {
  padding-inline: 3rem;
  padding-block: 1rem;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1.5px 1.5px 10px 3px hsl(154, 97%, 49%),
    -1.5px -1.5px 10px 3px hsl(154, 97%, 49%);
  border: 1px hsl(154, 97%, 49%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
}
.buttonmd {
  font-size: 90%;
  padding-inline: 1.55rem;
  padding-block: 0.5rem;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1.25px 1.25px 7px 1px hsl(154, 97%, 49%),
    -1.25px -1.25px 7px 1px hsl(154, 97%, 49%);
  border: 1px hsl(154, 97%, 49%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
}
.buttonsm {
  font-size: 80%;
  padding-inline: 1rem;
  padding-block: 0.15rem;
  box-shadow: 1px 1px 5px 1px hsl(53, 97%, 49%),
    -1px -1px 5px 1px hsl(60, 97%, 44%);
  border: 1px hsl(69, 58%, 95%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
}
.button:hover,
.buttonsm:hover,
.buttonmd:hover {
  box-shadow: 1px 1px 12px 1px hsl(152, 32%, 91%),
    -1px -1px 8px 1px hsl(153, 29%, 87%);
  transition: all 0.5s ease-in-out;
}
/* FOR PARGRAPHMAKER */
.paraStyle {
  text-indent: 0.5rem;
}
.contactbuttonshow {
  height: 20vh;
  opacity: 1;
  animation: growUp 1.5s ease-in-out;
}

.contactbuttonhide {
  height: 0vh;
  opacity: 0;
  animation: growdown 1.5s ease-in-out;
}
@keyframes growUp {
  from {
    height: 0vh;
    opacity: 0;
    transform: scale(0);
  }
  to {
    height: 20vh;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes growdown {
  from {
    height: 20vh;
    transform: scale(1);
    opacity: 1;
  }
  to {
    height: 0vh;
    opacity: 0;
    transform: scale(0);
  }
}
.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px hsl(196, 97%, 19%),
    -1px -1px 5px 2px hsl(192, 91%, 19%);
  padding: 1rem;
  border-radius: 6px;
  width: auto;
}
.likeRateCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px lightgrey;
  padding: 1rem;
  border-radius: 6px 25px 6px 25px;
  width: auto;
  padding-inline: 2rem;
}
.blogCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  box-shadow: 1px 1px 15px 2px black, -1px -1px 15px 2px black;
  padding: 1rem;
  border-radius: 6px;
}
.postcard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px hsl(181, 85%, 79%),
    -1px -1px 5px 2px hsl(173, 73%, 85%);
  padding: 0.5rem;
  margin-block: 0.75rem;
  border-radius: 15px 15px 15px 15px;
}
div.allBlog_container {
}
.allBlog_subContainer {
}
.allBlogs_mainText {
  background: rgba(0, 0, 10, 0.5);
}
@media screen and (max-width: 980px) {
  .likeRateCard {
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 490px) {
  .card {
    padding-inline: 0;
  }
  .likeRateCard {
    padding-inline: 0.25rem;
  }
}
.learningIsLiving {
  position: relative;
  display: flex;
  direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.learningIsLiving > q::before {
  display: block;
  position: absolute;
  inset: 0;
  left: -10%;
  content: "";
  width: 10px;
  height: 50px;
  margin-right: 5px;
  background: hsl(184, 15%, 77%);
  border-radius: 0px 30px 30px 0px;
}
@media screen and (max-width: 490px) {
  .learningIsLiving > q::before {
    top: -40%;
  }
}
.relative {
  position: relative;
}
h2,
h1 {
  margin-block: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
small {
  float: left;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}
p {
  line-height: 1.75rem;
  margin-block: 0.75rem;
  padding-inline: 2rem;
  margin-inline: 1rem;
}
p.TWO {
  line-height: 1.75rem;
  margin-block: 0.75rem;
  padding-inline: 0.25rem;
  margin-inline: 0.5rem;
}
p.style {
  background-image: var(--colorWorld);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: movethru 30s infinite;
  font-size: 130%;
}
.text-style {
  background-image: var(--colorWorld);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: movethru 10s infinite;
  font-size: 130%;
}
@keyframes movethru {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 200%;
  }
  to {
    background-position: 0% 0%;
  }
}
.fileImage {
  aspect-ratio: 16 / 9;
  width: auto;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 7px 7px 7px 7px;
  margin-inline: 0.5rem;
}
.profileImage {
  width: 50px;
  height: 50px;
  float: left;
  margin-block: 1.25rem;
  margin-left: 0.25rem;
  shape-outside: circle();
  border-radius: 50%;
  border: 1px solid rgb(1, 34, 31);
  filter: drop-shadow(1px 1px 15px rgba(250, 170, 50, 0.596));
}
.profileImageTwo {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0.5rem;
  margin-left: 0.25rem;
  border-radius: 50%;
  border: 1px solid rgb(1, 34, 31);
  box-shadow: 1px 1px 5px 2px rgba(250, 170, 50, 0.596);
}
.flexcol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
  width: 80%;
  margin-inline: auto;
}
.flexcollg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
  width: 100%;
}
.flexcolsm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.25rem;
  margin-block: 0.25rem;
  gap: 0.25rem;
}
.flexrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
}
.flexrowsm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.25rem;
  margin-block: 1rem;
  gap: 0.25rem;
}
.flexrowxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.15rem;
  margin-block: 0.15rem;
  gap: 0.25rem;
}
.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border: 1px solid lightgrey;
  border-radius: 10px 10px 10px 10px;
  margin: 0.2rem;
}
.userCardTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border: 1px solid lightgrey;
  border-radius: 15px 15px 15px 15px;
  margin: 0.2rem;
  margin-block: 0.5rem;
  box-shadow: 1px 1px 6px 1px var(--bg-two), -1px -1px 6px 1px var(--bg-two);
}
.line-break {
  width: 75%;
  height: 0.5rem;
  margin-block: 4rem;
  margin-inline: 3rem;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.line-break-sm {
  width: 75%;
  height: 0.25rem;
  margin-block: 1rem;
  margin-inline: 3rem;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
@media screen and (max-width: 980px) {
  .flexrowxs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 10px;
    margin-block: 15px;
    gap: 5px;
  }
  .flexrow,
  .flexrowsm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 0.25rem;
    margin-block: 1rem;
    gap: 0.25rem;
  }
}
/*---INPUT CLASSES--- */
.inputImage {
  filter: drop-shadow(2px 2px 10px);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  margin-inline: auto;
  margin-block: 2rem;
  padding-inline: 0.25rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 /9;
}
.inputBold {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.inputHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.inputSubHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 0.75rem;
}
.inputSection {
  display: flex;
  line-height: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block: 1rem;
  padding-inline: 2rem;
  gap: 1rem;
}
.inputArticle {
  display: flex;
  line-height: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block: 1rem;
  padding-inline: 2rem;
  gap: 1rem;
}
section.inputConclusion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block: 1.25rem;
  padding-inline: 0.75rem;
}
section.list {
  padding: 0.75rem;
  font-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 3rem;
}
section.list ul {
}
.list ul li {
  margin-top: 0.75rem;
  text-indent: 10px;
}
@media screen and (max-width: 980px) {
  .inputSection {
    padding-inline: 1rem;
  }
  section.list {
    padding: 0.5rem;
    padding-inline: 1rem;
  }
  .inputArticle {
    margin-block: 1rem;
    padding-inline: 1rem;
  }
  section.inputConclusion {
    margin-block: 1rem;
    padding-inline: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .inputSection {
    padding-inline: 5px;
  }
  section.list {
    padding: 0.25rem;
  }
  .inputArticle {
    margin-block: 0.75rem;
    padding-inline: 0.5rem;
  }
  section.inputConclusion {
    margin-block: 1rem;
    padding-inline: 0.3rem;
  }
}
/*---INPUT CLASSES--- */
@media screen and (max-width: 980px) {
  .container {
    margin-inline: 0.25rem;
    width: 100%;
  }
  .flexcol {
    padding-inline: 0.25rem;
    margin-block: 0.25rem;
    gap: 0.25rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin-inline: 1px;
    padding-inline: 5px;
  }
  .flexcol {
    padding-inline: auto;
    margin-inline: auto;
  }
}

/* -----DASHBOARD -------*/

/* -----DASHBOARD -------*/
