@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --colorWorld: url("/images/colorWorld.png");
  --logoUrl: url("/images/gb_logoHeader.png");
  --logosmUrl: url("/images/gb_logosm.png");
  --happyFamilyUrl: url("/images/happyFamily.png");
}
.rootBody {
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0;
  display: grid;
  place-items: center;
  z-index: -1;
  min-height: 100vh;
}
.mainHeaderTrue {
  margin-inline: 2px;
  padding-inline: 1px;
  height: 20vh;
  width: 100vw;
  background-image: var(--logoUrl);
  margin-bottom: 2rem;
  background-position: 50% 50%;
  background-size: 100% 100%;
  filter: grayscale(80);
  position: relative;
}
div.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
div.link > div {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
  color: blue;
  text-underline-offset: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}
div.link > h3 {
  /* margin: auto; */
  text-underline-offset: 0.4rem;
  text-decoration: underline;
}
.mainHeaderFalse {
  margin-inline: 2px;
  padding-inline: 1px;
  height: auto;
  width: 100vw;
  margin-bottom: 1rem;
  background-image: var(--logosmUrl);
  background-position: 40% 40%;
  background-size: 150% 160%;
  filter: grayscale(80);
  /* padding-top: 10px; */
  position: relative;
}
@media screen and (max-width: 980px) {
  .mainHeaderTrue {
    background-position: 50% 0%;
    background-size: 150% 120%;
    /* width: 100%; */
  }
  .mainHeaderFalse {
    background-position: 50% 35%;
    background-size: 150% 160%;
  }
  section.code > div {
    padding: 0.5rem;
    font-size: 150%;
  }
}
@media screen and (max-width: 480px) {
  .mainHeaderTrue {
    background-position: 50% 50%;
    background-size: 150% 100%;
    /* width: 100%; */
  }
  .mainHeaderFalse {
    background-position: 30% 50%;
    background-size: 150% 160%;
  }
}
section.code > div {
  padding: 0.25rem;
  font-size: 120%;
}
.flexrow {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.flexrowspace {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.flexcol {
  display: flex;
  direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
}
.summary {
  /* font-size: 110%; */
  /* margin-bottom: 2rem; */
}
.title {
  font-size: 150%;
}
.subHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  gap: 0.4rem;
}
.subHeading > h3 {
  margin: auto;
  font-size: 120%;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.35rem;
}
.subHeading > h4 {
  margin: auto;
  margin-left: 0.4rem;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.heading > h2 {
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.35rem;
  font-size: 130%;
}
.heading > h3 {
  margin: auto;
}
section.section,
section.conclusion,
article.article {
  margin-block: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 15px 15px 15px 15px;
}
section.section > h4,
.section.conclusion > h4 {
  font-weight: bold;
  font-size: 130%;
}
.article.article > h3 {
  font-weight: bold;
  font-size: 120%;
}
article.article > h2 {
  font-weight: bold;
  font-size: 120%;
  text-underline-offset: 0.45rem;
  text-decoration: underline;
}
.conclusion {
  font-size: 110%;
  /* margin-bottom: 2rem; */
}
section.replyForm {
  margin: auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
form.formReplySubmit {
  margin: auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
form.formReplySubmit input {
  border-radius: 20px 20px 20px 20px;
}
section.replyForm p {
  margin-block: 0.5rem;
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
}
section p.paraCreator::first-letter,
article p.paraCreator::first-letter {
  /* font-weight: bold; */
  color: white;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-initial-letter: 1.25;
  initial-letter: 1.25;
}

.paraCreator {
  color: auto;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  line-height: 2rem;
}
div.listContainer {
}
table.listTable {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}
.list {
  padding: 0.75rem;
  font-size: 120%;
  display: flex;
  direction: column;
  justify-content: center;
  align-items: flex-start;
}
.list ul {
  margin-left: 0.5rem;
}
.list ul li {
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  text-indent: 10px;
}
form.listform {
  background: whitesmoke;
  color: black;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 1px 1px 5px 1px hsla(179, 84%, 78%, 0.4),
    -1px -1px 5px 1px hsla(179, 84%, 58%, 0.6);
}
form.listform div {
  border-radius: inherit;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
li::before {
  font: bold;
  content: "\276F";
  color: red;
  margin-right: 5px;
}
section.code {
  margin-block: 1.5rem;
  margin-inline: auto;
  padding: 0.5rem;
  border-radius: 15px 15px 15px 15px;
  background: hsla(240, 96%, 6%, 0.5);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.7);
}
section.code > div {
  width: 100%;
  border-radius: inherit;
  color: white;
  padding: 1rem;
  font-size: 150%;
  background: hsla(240, 96%, 6%, 0.8);
  border-radius: inherit;
}
section.code > h3 {
  color: white;
}

.link,
.hlink {
  font-size: 110%;
}
.fileSummary {
  font-size: 110%;
}
.dataReplyGrow {
  opacity: 1;
  position: absolute;
  inset: 0rem;
  margin-inline: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 5px 1px hsl(179, 84%, 78%),
    -1px -1px 5px 1px hsl(179, 84%, 58%);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin-block: 0.5rem;
  height: 32vh;
  animation: grow 1s ease-in-out;
}
.dataReplyShrink {
  opacity: 0;
  position: absolute;
  inset: 0rem;
  margin-inline: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 5px 1px hsl(179, 84%, 78%),
    -1px -1px 5px 1px hsl(179, 84%, 58%);
  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin-block: 0.5rem;
  height: 1vh;
  animation: shrink 1s ease-in-out;
}
@keyframes shrink {
  from {
    height: 32vh;
  }
  to {
    height: 0;
  }
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 32vh;
  }
}
blockquote.reply {
  position: relative;
}
blockquote.reply::before {
  display: block;
  content: "";
  position: absolute;
  top: -20%;
  left: -30%;
  width: 10px;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
  background: hsla(36, 89%, 68%, 0.9);
  /* box-shadow: 1px 1px 3px 1px hsl(187, 95%, 50%),
    -1px 11px 3px 1px hsl(187, 95%, 30%); */
}

.conclusion > p::first-letter {
  color: rgba(229, 241, 234, 0.9);
  font-weight: bold;
  margin-right: 0.57rem;
  -webkit-initial-letter: 1.25;
  initial-letter: 1.35;
}
.summary > p::first-letter,
.summary::first-letter,
.section > p::first-letter,
.FileSummary p::first-letter,
p.paraCreator2::first-letter {
  color: rgba(255, 190, 150, 0.9);
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 0.55rem;
  margin-bottom: 0.5rem;
  -webkit-initial-letter: 1.25;
  initial-letter: 1.25;
}
.FileSummary {
  font-size: 150%;
}
.summary,
.section {
  font-size: 110%;
  width: 100%;
}
.image {
  box-shadow: 1.5px 1.5px 10px 3px hsl(39, 90%, 51%),
    -1.5px -1.5px 10px 3px hsl(39, 90%, 51%);
  border-radius: 5px;
  border: 1px solid hsl(39, 90%, 81%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
}
.imageRnd {
  box-shadow: 1px 1px 7px 1px hsl(184, 86%, 50%),
    -1px -1px 7px 1px hsl(184, 96%, 50%);
  border-radius: 50%;
  border: 1px solid hsl(39, 90%, 81%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
}
.button {
  padding-inline: 3rem;
  padding-block: 1rem;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1.5px 1.5px 10px 3px hsl(154, 97%, 49%),
    -1.5px -1.5px 10px 3px hsl(154, 97%, 49%);
  border: 1px hsl(154, 97%, 49%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.buttonmd {
  font-size: 90%;
  padding-inline: 1.55rem;
  padding-block: 0.5rem;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1.25px 1.25px 7px 1px hsl(154, 97%, 49%),
    -1.25px -1.25px 7px 1px hsl(154, 97%, 49%);
  border: 1px hsl(154, 97%, 49%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.buttonsm {
  font-size: 80%;
  padding-inline: 1rem;
  padding-block: 0.15rem;
  box-shadow: 1px 1px 5px 1px hsl(53, 97%, 49%),
    -1px -1px 5px 1px hsl(60, 97%, 44%);
  border: 1px hsl(69, 58%, 95%);
  border-radius: 30px 30px 30px 30px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.button:hover,
.buttonsm:hover,
.buttonmd:hover {
  box-shadow: 1px 1px 12px 1px hsl(152, 32%, 91%),
    -1px -1px 8px 1px hsl(153, 29%, 87%);
  transition: all 0.5s ease-in-out;
}
/* FOR PARGRAPHMAKER */
.paraStyle {
  text-indent: 0.5rem;
}
.contactbuttonshow {
  height: 20vh;
  opacity: 1;
  animation: growUp 1.5s ease-in-out;
}

.contactbuttonhide {
  height: 0vh;
  opacity: 0;
  animation: growdown 1.5s ease-in-out;
}
@keyframes growUp {
  from {
    height: 0vh;
    opacity: 0;
    transform: scale(0);
  }
  to {
    height: 20vh;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes growdown {
  from {
    height: 20vh;
    transform: scale(1);
    opacity: 1;
  }
  to {
    height: 0vh;
    opacity: 0;
    transform: scale(0);
  }
}
.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px hsl(196, 97%, 49%),
    -1px -1px 5px 2px hsl(192, 91%, 50%);
  padding: 1rem;
  border-radius: 6px;
}
.postcard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px hsl(181, 85%, 79%),
    -1px -1px 5px 2px hsl(173, 73%, 85%);
  padding: 0.5rem;
  margin-block: 0.75rem;
  border-radius: 15px 15px 15px 15px;
}
div.allBlog_container {
}
.allBlog_subContainer {
}
.allBlogs_mainText {
  background: rgba(0, 0, 10, 0.5);
}
@media screen and (max-width: 420px) {
  .card {
    padding-inline: 0;
  }
}
.learningIsLiving {
  position: relative;
  display: flex;
  direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.learningIsLiving > q::before {
  display: block;
  position: absolute;
  inset: 0;
  left: -10%;
  content: "";
  width: 10px;
  height: 50px;
  margin-right: 5px;
  background: hsl(184, 15%, 77%);
  border-radius: 0px 30px 30px 0px;
}
@media screen and (max-width: 420px) {
  .learningIsLiving > q::before {
    top: -40%;
  }
}
h2,
h1 {
  margin-block: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
p {
  line-height: 1.25rem;
  margin-block: 1.25rem;
  padding-inline: 2rem;
}
p.style {
  background-image: var(--colorWorld);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: movethru 10s infinite;
  font-size: 130%;
}
@keyframes movethru {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 200%;
  }
  to {
    background-position: 0% 0%;
  }
}
.fileImage {
  aspect-ratio: 16 / 9;
  width: auto;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 7px 7px 7px 7px;
  margin-inline: 0.5rem;
}
.profileImage {
  width: 50px;
  height: 50px;
  margin-block: 1rem;
  margin-left: 0.25rem;
  shape-outside: circle();
  border-radius: 50%;
  border: 1px solid rgb(1, 34, 31);
  box-shadow: 1px 1px 5px 2px rgba(250, 170, 50, 0.596);
}
.flexcol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  direction: column;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
}
.flexcol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
  width: 80%;
  margin-inline: auto;
}
.flexcollg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
  width: 100%;
}
.flexcolsm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-inline: 0.25rem;
  margin-block: 0.25rem;
  gap: 0.25rem;
}
.flexrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.75rem;
  margin-block: 2rem;
  gap: 0.25rem;
}
.flexrowsm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.25rem;
  margin-block: 1rem;
  gap: 0.25rem;
}
.flexrowxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.15rem;
  margin-block: 0.15rem;
  gap: 0.25rem;
}
.userCard {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border: 1px solid lightgrey;
  border-radius: 10px 10px 10px 10px;
  margin: 0.2rem;
}
.line-breaksm {
  width: 75%;
  height: 1rem;
  margin-block: 3rem;
  margin-inline: 1rem;
  background: linear-gradient(0.25turn, #021821, #f5f6f3, #402201);
  filter: drop-shadow(2px 2px 5px grey);
}
.line-break {
  width: 75%;
  height: 0.5rem;
  margin-block: 4rem;
  margin-inline: 3rem;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(0.25turn, #021821, #f5f6f3, #402201);
}
.line-break-sm {
  width: 75%;
  height: 0.25rem;
  margin-block: 1rem;
  margin-inline: 3rem;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.likeRateCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px lightgrey;
  padding: 1rem;
  border-radius: 6px 25px 6px 25px;
  width: auto;
  padding-inline: 2rem;
  gap: 1rem;
}
@media screen and (max-width: 940px) {
  .paraCreator {
    padding-inline: 1rem;
    padding-block: 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .paraCreator {
    padding-inline: 0.5rem;
  }
}
