@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  margin-top: 1rem;
  box-shadow: 1px 1px 5px 1px green, -1px -1px 5px 1px green;
  border: 1px solid red;
  border-radius: 25px 24px 25px 25px;
  padding-inline: 2rem;
  padding-block: 0.5rem;
}
