.homeMainPage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-block: 1rem;
  min-height: 100vh;
  width: 80%;
  z-index: -1;
}
.homeHeader {
  z-index: -1;
  margin-block: 0;
  padding: 1rem;
  background-size: 100% 100%;
  background-position: 50% 50%;
  min-height: 30vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homeGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: row;
  grid-template-rows: max-content;
  width: 100%;
  gap: 2rem;
  position: relative;
  place-items: center;
  padding: 0.5rem;
}
.remove {
  display: none;
}
.gridThree {
  grid-column: 3 / span 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ------- RequestInfo.tsx---------*/
.helpYou {
  margin: auto;
  padding-inline: 1rem;
  text-align: center;
  animation: slideIn 0.75s ease-in-out;
}
.helpYou > h3 {
  font-size: 150%;
}
.helpYou > p,
.helpYou > h3 {
  margin: auto;
  animation: slideIn 1.5s ease-in-out;
  font-size: 130%;
  color: white;
}
/* ------- RequestInfo.tsx---------*/

/* ----GridOneTwo.tsx---------------*/
.gridOneTwo {
  grid-column: 1 / span 2;
  border-right: 2px solid white;
  width: 100%;
  min-height: 30vh;
  position: relative;
}
.insideGridOne {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.insideGridOne > div {
  flex: 0 0 50%;
  color: white;
}
.insideGridOneImg {
  width: 100%;
  animation: growIn 1.5s ease-in-out;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  padding-inline: 1rem;
}
.insideGridOneImg > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0.5rem;
  background: black;
  filter: drop-shadow(1px 1px 5px white);
}
@keyframes growIn {
  from {
    opacity: 0.2;
    transform: scale(0.4);
    background-position: 0% 0%;
    background-size: 200% 200%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
}
.gridOneLogin {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.gridOneLogin > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0.5rem;
  background: inherit;
  filter: drop-shadow(1px 1px 5px rgb(219, 226, 226));
}
.subGridOne1 {
  color: white;
  font-size: 130%;
  margin-right: 0.5rem;
  animation: clearIn 1.25s ease-in-out;
}
.subGridOne2 {
  color: rgb(2, 252, 2);
  font-size: 130%;
  margin-right: 0.5rem;
  animation: clearIn 1.25s ease-in-out;
}
.subGridOne3 {
  color: gold;
  font-size: 130%;
  margin-right: 0.5rem;
  animation: clearIn 1.25s ease-in-out;
}
.subGridOne4 {
  color: gold;
  font-size: 130%;
  margin-right: 0.5rem;
  animation: clearIn 1.25s ease-in-out;
}
.subGridOne5 {
  color: rgb(248, 152, 152);
  font-size: 130%;
  margin-right: 0.5rem;
  animation: clearIn 1.25s ease-in-out;
}
@keyframes clearIn {
  from {
    opacity: 0.3;
    transform: scale(0.3);
    color: white;
  }
  to {
    opacity: 1;
    transform: scale(1);
    color: inherit;
  }
}
/* ----GridOneTwo.tsx---------------*/
.requestInfoMain {
  color: black;
  width: 100%;
  height: 100%;
}
.infoPara {
  opacity: 1;
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
  color: black;
  font-size: 120%;
  padding: 1rem;
  background: white;
  border-radius: 20px 20px 20px 20px;
  transform: scale(1);
  animation: easeInOut 5s ease-in-out;
}
.showMsgPhr {
  color: blue;
  font-size: 130%;
  animation: easeInOut 5s ease-in-out forwards 2s;
}
.showMsg {
  animation: easeInOut 5s ease-in-out forwards 2s;
}
@keyframes slideIn {
  from {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes easeInOut {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.homeUserGrid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-auto-flow: dense;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}
.homeGridElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  filter: drop-shadow(1px 1px 4px black);
  padding-block: 10px;
  padding-inline: 0.5rem;
  background: black;
  color: white;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}
.userCard img {
  border-radius: 50%;
  filter: drop-shadow(1px 1px 7px white);
  border: 1px solid grey;
}
.userCard > h3 {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}
.userCard > p {
  padding-inline: 1rem;
}
.profileImage {
  border-radius: 50%;
  filter: drop-shadow(1px 1px 7px white);
  border: 1px solid grey;
  shape-outside: circle();
  float: left;
  margin-right: 10px;
  margin-block: 0.75rem;
  margin-top: 1rem;
}
@media screen and (max-width: 980px) {
  .homeHeader {
    width: 100%;
    height: 60vh;
    justify-content: flex-start;
  }
  .homeGrid,
  .finalMsg {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 2rem;
  }
  .insideGridOne {
    flex-direction: column;
  }
  .gridOneTwo {
    grid-column: auto;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid white;
  }
  .gridThree {
    grid-column: auto;
    position: relative;
  }

  .homeUserGrid {
    margin-inline: 0;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }
  .homeGridElement {
    margin-inline: 0;
  }
}
@media screen and (max-width: 920px) {
  .homeMainPage {
    width: auto;
  }
  .homeHeader {
    width: 100%;
    height: auto;
  }
  .homeGrid,
  .finalMsg {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content;
    grid-auto-rows: auto;
    gap: 0.5rem;
  }
  .gridOneTwo,
  .gridThree {
    border-bottom: 2px solid white;
    width: 100%;
    border-right: none;
    position: relative;
    padding-block: 0.5rem;
  }
  .homeUserGrid {
    grid-template-columns: repeat(1, minmax(380px, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
  }
  .p_grid {
    display: flex;
    margin-top: 5rem;
    background: rgba(0, 0, 0, 0.3);
  }
  .finalMsg {
    gap: 0.25rem;
  }
  .insideGridOneImg {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .p_grid {
    flex-direction: column;
  }
  .finalMsg {
    gap: 0.25rem;
    inset: 40% auto 0% auto;
  }
  .homeHeader {
    width: 100%;
    height: auto;
  }
  .homeGrid {
    gap: 1.25rem;
  }
}
@media screen and (max-width: 400px) {
  .homeUserGrid {
    grid-template-columns: repeat(1, minmax(360px, 1fr));
  }
  .finalMsg {
    gap: 0.25rem;
    inset: 30% auto 0% auto;
  }

  .homeHeader {
    width: 100%;
    height: auto;
  }
}
