.homeMainPage {
  margin: auto;
  display: grid;
  place-items: center;
  margin: auto;
  min-height: 100vh;
  width: 80%;
}
.homeUserGrid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-auto-flow: dense;
  gap: 3rem;
  place-items: center;
}
.homeGridElement {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .homeMainPage {
    /* margin-inline: 0; */
  }
  .homeUserGrid {
    margin-inline: 0;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }
  .homeGridElement {
    margin-inline: 0;
  }
}
@media screen and (max-width: 920px) {
  .homeMainPage {
  }
  .homeUserGrid {
    grid-template-columns: repeat(1, minmax(550px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .homeUserGrid {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }
}
