.dashboardLayout {
  width: 80%;
  margin-inline: auto;
  margin-block: 2rem;
  display: grid;
  place-items: center;
  place-content: center;
  position: relative;
  z-index: -1;
}
.buttonsm {
  padding-inline: 1rem;
  padding-block: 0.25rem;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid white;
  background: black;
  color: white;
}
.dashContainer {
  width: 100%;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-block: 2rem;
  min-height: 100vh;
}
.masterGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: dense;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.grid_One {
  grid-column: 1 / span 2;
  background: whitesmoke;
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 10px 10px 10px 10px;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.grid_Two {
  grid-column: 3;
  background: whitesmoke;
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 10px 10px 10px 10px;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.grid_Three {
  grid-column: 4 / span 2;
  background: whitesmoke;
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 10px 10px 10px 10px;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.rateStyles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100, 1fr));
  grid-auto-flow: dense;
  gap: 0.5rem;
  border-radius: 10px 10px 10px 10px;
}
.rateStyles > div {
  padding-inline: 10px;
}
/* CONTACT FORM-----*/
.contactContainer {
  opacity: 1;
  background: whitesmoke;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 10px 10px 10px 10px;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  min-height: 30vh;
  transition: all 0.75s ease-in-out;
}
.closeContactContainer {
  height: 20px;
  opacity: 0;
  background: whitesmoke;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 2px grey;
  border-radius: 10px 10px 10px 10px;
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: all 0.75s ease-in-out;
}
.contactSendBtn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  text-align: center;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 20px 20px 20px 20px;
}
.openMember {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 350px;
  transform: scale(1);
  transition: all 0.75s ease-in-out;
}
.closeMember {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 350px;
  transform: scale(0);
  transition: all 0.75s ease-in-out;
}
/* CONTACT FORM-----*/
/* ----AVGLIKES-----*/
.mainLikes {
  display: flex;
  margin-inline: auto;
  margin-block: auto;
  flex-direction: row;
  gap: 1rem;
}
.likeFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.likeFlex > span.icon {
  color: red;
}
/* ----AVGLIKES-----*/

.gridElement button {
  background: black;
  color: white;
}
.deleteFile {
  position: absolute;
  top: 1.75rem;
  right: 0.5rem;
  border-radius: 50%;
  padding: 0.25rem;
}
.mainPopup {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.btnPopup {
  margin-inline: 1rem;
  margin-block: 2rem;
  padding-inline: 2rem;
  padding-block: 0.25rem;
  filter: drop-shadow(1px 1px 5px white);
  background: black;
  border-radius: 25px 25px 25px 25px;
  color: white;
}
.dashPublish {
  position: absolute;
  top: 40px;
  right: 0;
  border: 1px solid black;
  padding: 4px;
  border-radius: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(6, 51, 51);
  color: white;
  gap: 20px;
}
.dashPublish > label {
  text-decoration: underline;
  line-height: 8px;
  font-weight: bold;
  color: white;
}
.btnPublish {
  padding-inline: 2rem;
  font-size: 20px;
  padding-block: 0.5rem;
  border: 1px solid black;
  box-shadow: 1px 1px 7px 2px white;
  border-radius: 30px 30px 30px 30px;
  transition: box-shadow 0.75s ease-in-out;
}
.btnPublish:hover {
  box-shadow: 1px 1px 7px 2px black;
  transition: box-shadow 0.75s ease-in-out;
}
.sendBtn {
  border-radius: 50%;
  padding: 3px;
  border: 1px solid green;
  background: black;
  color: white;
}
.checked {
  opacity: 1;
  color: red;
  transition: all 0.75s ease-in-out;
}
.unChecked {
  color: transparent;
  opacity: 0;
  transition: all 0.75s ease-in-out;
}
.openUpdateUser {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%) scale(1);
  animation: bringIn 1s ease-in-out;
  height: 72vh;
}
.closeUdateUser {
  opacity: 0;
  transform: translateX(-100%) scale(0.4);
  z-index: -1;
  height: 0;
  animation: bringDown 1s ease-in-out;
}
@keyframes bringDown {
  from {
    transform: translateX(0%) scale(1);
    opacity: 0.3;
    height: 60vh;
  }
  to {
    transform: translateX(-100%) scale(0.4);
    opacity: 0;
    z-index: -1;
    height: 0;
  }
}
@keyframes bringIn {
  from {
    transform: translateX(-50%) scale(0.4);
    opacity: 0.3;
    z-index: 1;
    height: 0;
  }

  to {
    transform: translateX(0%) scale(1);
    opacity: 1;
    height: 60vh;
  }
}
/*--ShowRates--- */
.showRatesMain {
  margin: auto;
  width: 100%;
  float: left;
  overflow-y: scroll;
  height: 16vh;
  padding-inline: 1rem;
}
/*--ShowRates--- */
@media screen and (max-width: 980px) {
  .masterGrid {
    grid-template-columns: minmax(0, 1fr);
  }
  .grid_One,
  .grid_Two,
  .grid_Three {
    grid-column: 1;
  }
}
@media screen and (max-width: 940px) {
  .dashboardLayout {
    margin: auto;
    width: 100%;
    padding-inline: 1rem;
  }
  .openUpdateUser {
    height: 80vh;
  }
  @keyframes bringDown {
    from {
      transform: translateX(0%) scale(1);
      opacity: 0.3;
      height: 80vh;
    }
    to {
      transform: translateX(-100%) scale(0.4);
      opacity: 0;
      z-index: -1;
      height: 0;
    }
  }
  @keyframes bringIn {
    from {
      transform: translateX(-50%) scale(0.4);
      opacity: 0.3;
      z-index: 1;
      height: 0;
    }

    to {
      transform: translateX(0%) scale(1);
      opacity: 1;
      height: 80vh;
    }
  }
}
@media screen and (max-width: 440px) {
  .dashboardLayout {
    padding-inline: 10px;
  }
  .openUpdateUser {
    height: 150vh;
  }
  @keyframes bringDown {
    from {
      transform: translateX(0%) scale(1);
      opacity: 0.3;
      height: 110vh;
    }
    to {
      transform: translateX(-100%) scale(0.4);
      opacity: 0;
      z-index: -1;
      height: 0;
    }
  }
  @keyframes bringIn {
    from {
      transform: translateX(-50%) scale(0.4);
      opacity: 0.3;
      z-index: 1;
      height: 0;
    }

    to {
      transform: translateX(0%) scale(1);
      opacity: 1;
      height: 110vh;
    }
  }
}

/*---Dash Signup---------- */
.signupMain {
  display: grid;
  margin-top: 2rem;
  place-items: center;
  padding: 20rem;
  background: black;
  margin-block: 10rem;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(2px 2px 10px white);
}
.signupMain > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/*---Dash Signup---------- */
/*---userUpdate ---------- */
.userUpDatemain {
  position: relative;
  width: 100%;
  margin-block: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gridTwo {
  margin-inline: auto;
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.gridTwo > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: 100%;
  background: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  filter: drop-shadow(1px 1px 3px lightgrey);
}
.gridTwoFormContainer {
  align-self: stretch;
}
.gridTwoFormContainer input,
.gridTwoFormContainer textarea {
  border-radius: 10px 10px 10px 10px;
}
.userForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.userImage {
  border-radius: 50%;
  padding: 0.25rem;
  filter: drop-shadow(1px 1px 8px white);
  border: 1px solid white;
  background-color: black;
  shape-outside: circle();
  float: left;
  margin-left: 3px;
  margin-block: 1rem;
}
/*---userUpdate ---------- */
/*---UserBlogs------- ---------- */
.mainUserBlogs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-block: 1rem;
}
.userMainGrid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}
.userMainGrid > div {
  margin: auto;
}
.btnUpdate {
  padding-inline: 1.5rem;
  padding-block: 0.25rem;
  border-radius: 20px 20px 20px 20px;
  margin-block: 1rem;
  background: rgb(24, 3, 3);
  color: white;
  border: 1px solid white;
  filter: drop-shadow(1px 1px 5px grey);
}
.userSummary {
  color: white;
  font-size: 110%;
  margin-block: 1rem;
  padding-inline: 1.5rem;
  padding-block: 0.25rem;
  text-align: center;
  border: 1px solid white;
  filter: drop-shadow(1px 1px 5px white);
  border-radius: 15px 15px 15px 15px;
}
/*---UserBlogs------- ---------- */
@media screen and (max-width: 940px) {
  .dashContainer {
    width: 100%;
  }

  .userMainGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .signupMain {
    padding: 10rem;
  }
}
@media screen and (max-width: 450px) {
  .masterGrid {
    margin-inline: 0.5rem;
  }
  .gridTwo {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .signupMain {
    padding: 5rem;
  }
}
