.blogsLayoutContainer {
  margin-inline: 0;
  width: 70%;
  display: grid;
  place-content: center;
  place-items: center;
  margin-block: 3rem;
  justify-content: stretch;
  align-items: stretch;
  padding: 2rem;
  z-index: -1;
  position: relative;

  border-radius: 15px 15px 15px 15px;
}
.blogSIngleIDLayoutContainer {
  margin: auto;
  width: 100%;
  justify-self: center;
  align-self: center;
  display: grid;
  place-content: center;
  place-items: center;
  border-radius: inherit;
}
.blogsIndexContainer {
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
  border-radius: inherit;
  position: relative;
}
/*---blogHeader----- */
.blogHeader {
  background-position: 50% 50%;
  background-size: 100% 100%;
  height: 30vh;
  width: 100%;
  padding-inline: 2rem;
  margin-inline: 0;
  border-radius: inherit;
  animation: growIn 5s ease-in-out;
  z-index: 0;
}
@keyframes growIn {
  from {
    background-size: 200% 200%;
    background-position: 0% 0%;
    opacity: 0.2;
    transform: scale(0.6);
  }
  to {
    background-size: 100% 100%;
    background-position: 50% 50%;
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (max-width: 980px) {
  .blogHeader {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
}
/*---blogHeader----- */

.MasterBlogIndex {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: inherit;
}
.blogIndexContainer {
  margin: auto;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: inherit;
}
.detailContainer {
  margin-inline: 1rem;
  margin-block: 2rem;
  width: 67%;
  display: grid;
  place-items: center;
  border-radius: inherit;
}
.mainBlogItem {
  flex: 0.75;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  margin-block: 2rem;
  width: auto;
  position: relative;
}
.blogCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  box-shadow: 1px 1px 15px 2px black, -1px -1px 15px 2px black;
  padding-block: 1rem;
  padding-inline: 2px;
  border-radius: 10px 10px 10px 10px;
}

.blogLink {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
}
.blogLink > h3 {
  letter-spacing: 0.035em;
  padding-inline: 1rem;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 3px 1px lightgrey;
  margin-inline: 1rem;
}
.blogLink > img {
  width: auto;
  height: auto;
  border-radius: inherit;
  filter: drop-shadow(1px 1px 5px black);
}

.card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(1px 1px 7px black);
  padding: 1rem;
  border-radius: 6px;
  margin-inline: 1rem;
  background: whitesmoke;
  border-radius: inherit;
}
.card > p {
  background: black;
  color: white;
}
.card > img {
  width: 100%;
  aspect-ratio: auto;
  padding-inline: 0px;
}

.fileImage {
  width: auto;
  height: auto;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 12px 12px 12px 12px;
  margin-inline: 0.5rem;
}
.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  padding: 1.5rem;
  /* background: rgba(36, 35, 35, 0.1); */
}
.userCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  filter: drop-shadow(1px 1px 4px black);
  padding-block: 10px;
  padding-inline: 0.5rem;
  background: black;
  color: white;
  border-radius: 20px 20px 20px 20px;
}
.userCard img {
  border-radius: 50%;
  filter: drop-shadow(1px 1px 7px white);
  border: 1px solid grey;
}
.profileImage {
  border-radius: 50%;
  filter: drop-shadow(1px 1px 7px white);
  border: 1px solid grey;
}
.user {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px hsl(138, 96%, 11%),
    -1px -1px 5px 2px hsl(135, 96%, 20%);
  padding: 0.25rem;
  border-radius: 6px;
  margin-inline: 0.5rem;
  margin-block: 1rem;
}
.inputImage {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.inputImage > img {
  margin-inline: 0.5rem;
  aspect-ratio: 16 / 9;
  filter: drop-shadow(1px 1px 6px grey);
  border-radius: 15px 15px 15px 15px;
  border: 1px solid black;
}
.inputImage > small {
  font-weight: bold;
  margin-top: 0.25rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.user > p > img {
  float: left;
  shape-outside: circle();
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 2px hsl(248, 97%, 49%),
    -1px -1px 5px 2px hsl(247, 91%, 70%);
}
.textStyle {
  background-image: url("/images/colorWorld.png");
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: movethru 10s infinite;
  font-size: 130%;
}
.likeRateCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 2px lightgrey;
  padding: 1rem;
  border-radius: 6px 25px 6px 25px;
  width: 100%;
  padding-inline: 2rem;
  gap: 1rem;
}
.gridRateLike {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: minmax(200px, 350px);
  grid-auto-flow: dense;
  place-items: center;
  place-content: center;
  gap: 2rem;
}
.gridRateLike > div {
  margin: auto;
  width: 100%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 6px 2px grey;
}
.notFoundContainer {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  padding: 5rem;
  border-radius: 20px 20px 20px 20px;
}
.notFoundContainer > div {
  margin: auto;
  background-size: 100% 100%;
  background-position: 50% 50%;
  border-radius: inherit;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.notFoundContainer > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: inherit;
}
.notFoundContainer > div h2 {
  padding-inline: 1rem;
}
.preReply {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-block: 1rem;
  font-weight: bold;
}
/* reply selected*********/
.showReply {
  min-height: 20vh;
  opacity: 1;
  transform: scale(1);
  transition: all 0.75s ease-in-out;
}
.hideReply {
  height: 10px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.75s ease-in-out;
}
.formStyleDisplayMain {
  width: 50%;
  margin-inline: auto;
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 980px) {
  .blogsLayoutContainer {
    /* margin: auto; */
    width: 100%;
    padding-inline: 1rem;
    position: relative;
  }
  .blogIndexContainer {
    width: 100%;
    margin-inline: 0;
  }
  .detailContainer {
    margin-inline: 1rem;
    width: 100%;
  }
  .blogGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .mainBlogItem {
    margin-inline: 0rem;
  }
  .gridRateLike {
    margin: auto;
    gap: 2rem;
  }
  .userCard {
    margin-inline: 1.5rem;
  }
  .formStyleDisplayMain {
    width: 80%;
  }
}
@media screen and (max-width: 920px) {
  .blogsLayoutContainer {
    margin: auto;
    width: 100%;
    padding-inline: 0.5rem;
    position: relative;
  }

  .blogCard {
    align-self: stretch;
  }
  .blogGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-items: center;
  }

  .mainBlogItem {
    margin: auto;
    padding-inline: 2rem;
  }
  .gridRateLike {
    margin: auto;
    grid-template-columns: repeat(1, minmax(400px, 1fr));
    gap: 2rem;
  }
}
@media screen and (max-width: 490px) {
  .blogsLayoutContainer {
    margin: auto;
    width: 100%;
    padding-inline: 5px;
    position: relative;
  }

  .detailContainer {
    margin-inline: 0.5rem;
    width: 100%;
  }
  .blogGrid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .gridRateLike {
    margin: auto;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: minmax(200px, 400px);
  }
  .card {
    width: 100%;
    margin-inline: 0;
    padding-inline: 5px;
  }
  .mainBlogItem {
    margin: auto;
    padding-inline: 0rem;
  }
  .userCard {
    margin-inline: 0.5rem;
  }
}
@media screen and (max-width: 420px) {
  .blogsLayoutContainer {
    margin: auto;
    width: 100%;
    padding-inline: 1px;
    position: relative;
  }
  .formStyleDisplayMain {
    width: 100%;
    padding-inline: 20px;
  }
}
