.editBlogLayout {
  margin: auto;
  width: 80vh;
  display: grid;
  place-items: center;
  place-content: center;
  padding-block: 1rem;
  border-radius: 20px 20px 20px 20px;
}

.mainEditBlog {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block: 1rem;
  align-items: center;
  background: white;
  border-radius: 17px 17px 17px 17px;
  filter: drop-shadow(1px 1px 5px black);
}

/*---------EDITFILE------------ */
.mainFile {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block: 2rem;
  align-items: center;
  width: 100%;
  background: whitesmoke;
}
.mainFile > form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.fileTitle {
  background-image: url("/images/colorWorld.png");
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: movethru 30s infinite;
  font-size: 140%;
  padding-inline: 1rem;
}
.content {
  margin: auto;
  width: 100%;
  line-height: 2rem;
  margin-block: 0.75rem;
  padding-inline: 0.25rem;
  margin-inline: 0.5rem;
}
.displayFile {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.fileImg {
  margin: auto;
  aspect-ratio: 16 / 9;
  align-self: center;
  filter: drop-shadow(1px 1px 5px black);
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}
.para {
  line-height: 1.75rem;
  margin-block: 0.75rem;
  padding-inline: 0.25rem;
  margin-inline: 0.5rem;
}
.loginfix {
  margin-inline: auto;
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  background: black;
}

@media screen and (max-width: 940px) {
  .editBlogLayout {
    width: 85vw;
    padding-inline: 1rem;
    padding-block: 2rem;
  }
  .loginfix {
    padding-inline: 10rem;
    padding-block: 20rem;
  }
  .mainFile {
    width: 100%;
  }
  .mainFile > form {
    width: 90%;
  }
  .displayFile {
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .editBlogLayout {
    width: 100%;
    padding-inline: 0.25rem;
  }
  .loginfix {
    padding-inline: 10rem;
    padding-block: 20rem;
  }
  .displayFile {
    padding-inline: 0.75rem;
  }
}
/*---------EDITFILE------------ */
