.GB_imageMobile {
  box-shadow: 1px 1px 7px 1px hsl(184, 86%, 50%),
    -1px -1px 7px 1px hsl(184, 96%, 50%);
  border-radius: 50%;
  border: 1px solid hsl(179, 91%, 9%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
  background: black;
  width: 70%;
}
.GB_image {
  box-shadow: 1px 1px 7px 1px hsl(184, 86%, 50%),
    -1px -1px 7px 1px hsl(184, 96%, 50%);
  border-radius: 50%;
  border: 1px solid hsl(179, 91%, 9%);
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
}
/*----MSGTYPE----- */
.message {
  position: absolute;
  min-height: 8vh;
  top: -40%;
  inset: 3rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
}
.messagePassed,
.messageNotPassed {
  margin: auto;
  display: grid;
  place-items: center;
  background: grey;
}
.messagePassed > h3 {
  color: black;
  border: 1px solid blue;
  border-radius: 15px 15px 15px 15px;
  padding-inline: 2rem;
  padding-block: auto;
  z-index: 2000;
  filter: drop-shadow(1px 1px 6px grey);
}
.messageNotPassed > h3 {
  color: red;
  border: 1px solid white;
  border-radius: 15px 15px 15px 15px;
  padding-inline: 2rem;
  padding-block: auto;
  z-index: 2000;
  background: white;
  filter: drop-shadow(1px 1px 4px red);
}
.redirectpage {
  margin: auto;
  padding-inline: 10rem;
  width: 100%;
  padding-block: 20rem;
  background: black;
  display: grid;
  place-items: center;
}
