.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-block: 1rem;
}
.hide {
  display: none;
}
.mainHeader > h1 {
  background-position: 50% 50%;
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: repeatAlways 20s infinite;
  font-size: 120%;
  text-decoration: underline;
  text-underline-offset: 1.25rem;
}
.mainHeader > h3 {
  margin-bottom: 1.5rem;
}
@keyframes repeatAlways {
  from {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
.mainHeaderGrid {
  display: grid;
  grid-template-columns: minmax(600px, 900px);
  grid-template-rows: max-content;
  place-items: center;
  padding: 3rem;
}
.childGrid {
  margin: auto;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 3rem;
  box-shadow: 1px 1px 20px 2px white;
  background: white;
}

.wrdSalad {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  padding-block: 3rem;
  padding-inline: 5rem;
}
.wrdSalad > p.spanStart,
.wrdSalad > p.spanEnd {
  opacity: 1;
  margin: auto;
  border-radius: inherit;
  font-size: 180%;
  font-weight: bold;
  line-height: auto;
  padding-inline: 0;
  animation: growIn2 forwards 5s;
}
.wrdSalad > p.spanStart,
.wrdSalad > p.spanEnd,
.wrdSalad > p.spanMiddle {
  line-height: 1.25rem;
}
.wrdSalad > p.spanMiddle {
  opacity: 1;
  margin: auto;
  border-radius: inherit;
  animation: growIn 3s ease-in-out;
  font-size: 110%;
  color: black;
}
.logoImage {
  opacity: 1;
  transform: scale(1);
  transition: all 1s ease-in-out;
  border-radius: 50%;
  border: 1px solid hsla(19, 100%, 50%, 0.5);
}
.logoHide {
  opacity: 0;
  transform: scale(0.8);
  transition: all 1s ease-in-out;
  border-radius: 50%;
  box-shadow: none;
}
@keyframes growIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes growIn2 {
  from {
    opacity: 0;
    transform: translateY(-500%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
.showTools::first-letter,
.spanStart::first-letter,
.spanEnd::first-letter {
  color: rgb(142, 44, 3);
  font-weight: bold;
  font-size: 105%;
}
.showTools {
  opacity: 1;
  font-size: 130%;
  transform: translateY(0%);
  transition: all 3s ease-in-out;
}
.hideTools {
  opacity: 0;
  transform: translateY(-200%);
  transition: all 3s ease-in-out;
}

@media screen and (max-width: 920px) {
  .mainHeaderGrid {
    display: grid;
    grid-template-columns: minmax(400px, 920px);
    grid-template-rows: max-content;
  }
  .wrdSalad {
    padding-block: 2rem;
    padding-inline: 4rem;
    shape-outside: circle();
  }
  .childGrid {
    padding: 1rem;
  }
  .wrdSalad > p.spanStart,
  .wrdSalad > p.spanEnd,
  .wrdSalad > p.spanMiddle {
    line-height: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .mainHeaderGrid {
    display: grid;
    grid-template-columns: minmax(350px, 470px);
    grid-template-rows: max-content;
  }
  .wrdSalad {
    padding: 2rem;
    padding-block: 3rem;
  }
  .wrdSalad > p.spanStart,
  .wrdSalad > p.spanEnd {
    font-size: 130%;
  }
  .wrdSalad > p.spanMiddle {
    font-size: 100%;
  }
}
@media screen and (max-width: 420px) {
  .showTools {
    font-size: 100%;
    text-align: center;
  }
  .mainHeaderGrid {
    display: grid;
    grid-template-columns: minmax(350px, 410px);
    grid-template-rows: max-content;
  }
}
