.navContainer {
  position: sticky;
  top: 1rem;
  left: 0;
  margin-inline: 0rem;
  padding-inline: 0rem;
  z-index: 2000;
  width: 100%;
}
.navMain {
  position: sticky;
  height: 5vh;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  padding-inline: 1rem;
}
.navMain > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 4px 1px black;
  background: black;
}
.subNav {
  position: relative;
  display: flex;
  direction: row;
  justify-content: space-evenly;
  gap: 1.5rem;
}
/*--MediaLinks---- */
.flexrowxs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 0.25rem;
  margin-block: 0.5rem;
  gap: 1rem;
  width: 200px;
}
.link_name {
  color: white;
  margin-left: 10px;
  font-size: 14px;
}
.linkText {
  position: relative;
  margin-inline: auto;
  border: 1px solid white;
  transition: all 0.75s ease-in-out;
}
.linkText:hover {
  cursor: pointer;
  transition: all 0.75s ease-in-out;
}
.linkText::before {
  display: block;
  opacity: 0;
  content: attr(data-word);
  position: absolute;
  top: 100%;
  left: 10%;
  background: black;
  color: white;
  padding: 8px;
  transform: scale(0.3);
  transition: all 0.75s ease-in-out;
}
.linkText:hover::before {
  display: block;
  opacity: 1;
  content: attr(data-word);
  position: absolute;
  top: 100%;
  left: 10%;
  background: black;
  color: white;
  padding: 8px;
  transform: scale(0.7);
  transition: all 0.75s ease-in-out;
}
.linkText > svg {
  color: blue;
  background: white;
  border-radius: 50%;
  padding: 2px;
  width: 20px;
  height: 20px;
  transition: all 0.75s ease-in-out;
  filter: drop-shadow(1px 1px 3px white);
}
.linkText > svg:hover {
  color: blue;
  background: white;
  border-radius: 50%;
  padding: 2px;
  width: 25px;
  height: 25px;
  transition: all 0.75s ease-in-out;
  filter: drop-shadow(1px 1px 4px blue);
}

/*--MediaLinks---- */
.navlist {
  margin-inline: 1rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1.5rem;
}
.navlist > a {
  border-radius: 14px 14px 14px 14px;
  border: 1px solid white;
  box-shadow: 1px 1px 3px 1px whitesmoke;
  background: black;
  padding-inline: 2px;
  padding-block: 0.25rem;
  color: white;
  background: rgba(33, 33, 33, 0.671);
  text-align: center;
  text-justify: center;
}
/* @context/navList=>DropDownTrigger() */
.loading {
  position: relative;
  margin: auto;
  margin-inline: 1rem;
  display: flex;
  padding-inline: 3px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: rotateButton 5s infinite;
}
@keyframes rotateButton {
  from {
    transform: rotate(0deg, 0deg);
  }
  to {
    transform: rotate(360deg, 360deg);
  }
}
.notLoading {
  position: relative;
  margin: auto;
  margin-inline: 1rem;
  display: flex;
  padding-inline: 3px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: none;
}
.subLoading {
  position: absolute;
  margin-inline: 0.25rem;
  display: flex;
  padding-inline: 3px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}
.btnSmall {
  margin: auto;
  display: inline-flex;
  font-size: 80%;
  padding-inline: 10px;
  padding-block: 1px;
  border-radius: 10px 10px 10px 10px;
  background: black;
  color: white;
  filter: drop-shadow(1px 1px 3px white);
}

@media screen and (max-width: 980px) {
  .navContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-inline: 0rem;
    padding-inline: 0rem;
    z-index: 2000;
  }
  .navMain {
    display: flex;
    direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-inline: 0rem;
    gap: 3rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    position: relative;
    /* min-height: 20vh; */
  }
  .subNav {
    direction: column;
    justify-content: center;
    align-items: center;
  }
  .navMain > img {
    width: 45px;
    height: 45px;
  }
  .navlist {
    position: absolute;
    background: transparent;
    display: block;
    margin: auto;
    flex: 1;
    gap: 0.5rem;
    /* padding: 0.5rem; */
    margin-inline: auto;
    top: 4rem;
    width: max-content;
    transform: translateX(-500%) scale(0.6);
    transition: all 0.75s ease-in-out;
    /* min-height: 10vh; */
  }
  .navlistShow {
    position: absolute;
    display: block;
    background: transparent;
    margin-inline: auto;
    top: 4rem;
    flex: 1;
    gap: 0.75rem;
    /* padding: 0.5rem; */
    width: max-content;
    transform: translateX(-225%) scale(1);
    transition: all 0.75s ease-in-out;
    /* min-height: 10vh; */
  }
  .navlistShow > a {
    display: block;
    border-radius: 14px 14px 14px 14px;
    border: 1px solid white;
    box-shadow: 1px 1px 3px 1px whitesmoke;
    padding-inline: 2px;
    padding-block: 0.25rem;
    background: black;
    color: white;
    transition: all 0.5s ease-in-out;
  }
  .navlist > a {
    display: block;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid white;
    box-shadow: 1px 1px 3px 1px grey;
    padding-inline: 2px;
    background: transparent;
    color: transparent;
    transition: all 0.5s ease-in-out;
  }
  .loading,
  .notLoading {
    top: 1rem;
  }
  .subLoading {
    position: absolute;
    margin-inline: 0.15rem;
    top: 0.25rem;
    display: block;
    padding-inline: 3px;
    font-size: 100%;
  }
  .btnSmall {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    font-size: 100%;
    padding-inline: 0.75rem;
    padding-block: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px 10px 10px 10px;
    background: black;
    color: white;
    filter: drop-shadow(1px 1px 4px orange);
  }
}
@media screen and (max-width: 480px) {
  .navMain {
    /* padding-left: 2rem; */
    padding-top: 0.5rem;
  }
  .navlistShow {
    transform: translateX(-235%) scale(1);
  }
}
